<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	origional template https://github.com/sethmacleod/prologue
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="img/avatar.jpg" alt="" /></span>
							<h1 id="title">{{ .Site.Params.name }}</h1>
							<p>{{ .Site.Params.description }}</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
								<li><a href="#intro" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#hardware" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Hardware</span></a></li>
								<li><a href="#software" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Software</span></a></li>
								<li><a href="#building" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">building</span></a></li>
								<li><a href="#sharing" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Sharing</span></a></li>


							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
              {{ range .Site.Params.social }}
              <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
              {{ end }}
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">FabLab</h2>
								<p>Bits to Atoms and Atoms to Bits.</p>
							</header>

						</div>
					</section>

				<!-- hardware -->
					<section id="hardware" class="two">
						<div class="container">

							<header>
								<h2>Hardware</h2>
							</header>

							<p>Put the things together</p>

						</div>
					</section>

				<!-- software -->
					<section id="software" class="two">
						<div class="container">

							<header>
								<h2>Software</h2>
							</header>

							<p>Program the things</p>

						</div>
					</section>

				<!-- building -->
					<section id="building" class="two">
						<div class="container">

							<header>
								<h2>Building</h2>
							</header>

							<p>Build a tower!</p>

						</div>
					</section>

				<!-- sharing -->
					<section id="sharing" class="two">
						<div class="container">

							<header>
								<h2>Sharing</h2>
							</header>

							<p>Share your builds.</p>
							<a href="#" class="image featured"><img src="img/test-image.jpg" alt="" /></a>

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
									<div class="12u$">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="12u$">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; {{ .Site.Params.copyright }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Powered by <a href="https://gohugo.io/">Hugo</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollzer.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
